@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h4 id="hVersion" class="text-danger"></h4>
    <h5 id="orderVersion" class="text-primary"></h5>
    <h5 id="mtMenuVersion" class="text-primary"></h5>
</div>


@section Scripts {
    <script src="~/js/index.js?ver<%=DateTime.Now.Ticks.ToString()%>"></script>
}